<a href="https://colab.research.google.com/github/Amir10032003/Basic-of-python/blob/main/Amir.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello Ahmed")

Hello Ahmed

In [7]:
name =  "Amir"
age = 22
name = "Ahmed"
age = 23.8
print(name)
print(age)

Ahmed
23.8

In [12]:
# Add a person with name Amir raza.
# amir raza age is 51 years old.
# Tony is a genius.

# By user Input

name = input("what is your name? ")
print(" hello " + name)

what is your name? Amir raza
 hello Amir raza

In [17]:
# Type conversion


old_age = input("Enter your old age : ")
int(old_age)
new_age = int(old_age) + 2
print(new_age)

# Float value

number = 16
print(float(18))

Enter your old age : 18
20
18.0