<a href="https://colab.research.google.com/github/Amir10032003/Basic-of-python/blob/main/Amir2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
first = input("Enter first number : ")
second = input("Entetr second number : ")
sum = int(first) + int(second)
print("The sum is : " + str(sum))

Enter first number : 2
Entetr second number : 4
The sum is : 6

In [12]:
# String

name = input("My name is : ")
print(name.upper())
print(name.lower())
print(name)

My name is : amir
AMIR
amir
amir

In [15]:
# For Search
name = "Amir"
print(name.find('i'))

2

In [17]:
name  = "Tony stark"
print('T' in name)
print('m' in name)

True
False